/* .fondo {
    background-color: rgba(250, 223, 215, 0.549);
    background-image: url('/assets/img/playa.jpg');
    background-position: right top;
    background-size: 100%;
    /* filter: blur(6px); */