<div class="bg-dark">


    <div id="login">

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-success">Login</h3>
                            <div class="form-group">
                                <br>



                                <div class="dropdown align-content-center" style="text-align: center;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Select Rol
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" (click)="login('user')">User</a></li>
                                        <li><a class="dropdown-item" (click)="login('admin')">Admin</a></li>
                                    </ul>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-secondary" routerLink="/dashboard">Submit</button>
                                </div>

                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>