#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 250px;
    border: 1px solid #0a2e03;
    background-color: #00000048;
    border-radius: 20px;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}